name: Build

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
            - ready_for_review
        paths-ignore:
            - "**.md"
    workflow_dispatch:
        inputs:
            build_android:
                description: "Build Android"
                required: false
                default: true
                type: boolean

            build_ios:
                description: "Build iOS"
                required: false
                default: true
                type: boolean

            build_mac:
                description: "Build Mac"
                required: false
                default: true
                type: boolean

            build_win_x64:
                description: "Build Win-x64"
                required: false
                default: true
                type: boolean

            build_linux_x64:
                description: "Build Linux-x64"
                required: false
                default: true
                type: boolean

            tag:
                description: "tag"
                required: false
                default: ""
                type: string

jobs:
    android:
        if: ${{ github.event_name == 'pull_request' || github.event.inputs.build_android == 'true' }}
        name: Release Android
        runs-on: ubuntu-latest
        permissions: write-all

        steps:
            - name: 代码迁出
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0

            - name: 构建Java环境
              uses: actions/setup-java@v5
              with:
                  distribution: "zulu"
                  java-version: "17"
                  cache: "gradle"
                  cache-dependency-path: |
                      android/*.gradle*
                      android/**/gradle-wrapper.properties

            - name: 安装Flutter
              uses: subosito/flutter-action@v2
              id: flutter-action
              with:
                  channel: stable
                  flutter-version-file: pubspec.yaml
                  cache: true
                  architecture: X64
                  pub-cache-path: default
                  dry-run: false
                  git-source: https://github.com/flutter/flutter.git

            - name: 设置Rust环境
              uses: dtolnay/rust-toolchain@stable
              with:
                  targets: aarch64-linux-android,armv7-linux-androideabi,x86_64-linux-android

            - name: Rust缓存
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      target/
                  key: ${{ runner.os }}-cargo-${{ hashFiles(' **/Cargo.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-cargo-

            - name: 写入签名
              if: github.event_name == 'workflow_dispatch'
              run: |
                  if [ ! -z "${{ secrets.SIGN_KEYSTORE_BASE64 }}" ]; then
                    echo "${{ secrets.SIGN_KEYSTORE_BASE64 }}" | base64 --decode > android/app/key.jks
                    echo storeFile='key.jks' >> android/key.properties
                    echo storePassword='${{ secrets.KEYSTORE_PASSWORD }}' >> android/key.properties
                    echo keyAlias='${{ secrets.KEY_ALIAS }}' >> android/key.properties
                    echo keyPassword='${{ secrets.KEY_PASSWORD }}' >> android/key.properties
                  fi

            - name: 设置版本号
              shell: pwsh
              run: ./build.ps1 android

            - name: flutter build apk
              run: flutter build apk --release --split-per-abi --dart-define-from-file=icey_release.json --pub

            - name: 重命名产物
              run: |
                  for file in build/app/outputs/flutter-apk/app-*-release.apk; do
                    abi=$(echo "$file" | sed -E 's|.*app-(.*)-release\.apk|\1|')
                    mv "$file" "Icey_${abi}_${{ env.version }}.apk"
                  done
              shell: bash

            - name: 发布
              if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag != '' }}
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: ${{ github.event.inputs.tag }}
                  name: ${{ github.event.inputs.tag }}
                  files: |
                      Icey_*.apk

            - name: 上传v8a
              uses: actions/upload-artifact@v4
              with:
                  name: Android_arm64-v8a
                  path: |
                      Icey_arm64-v8a_*.apk

            - name: 上传v7a
              uses: actions/upload-artifact@v4
              with:
                  name: Android_armeabi-v7a
                  path: |
                      Icey_armeabi-v7a_*.apk

            - name: 上传x64
              uses: actions/upload-artifact@v4
              with:
                  name: Android_x86_64
                  path: |
                      Icey_x86_64_*.apk

    ios:
        if: ${{ github.event_name == 'pull_request' || github.event.inputs.build_ios == 'true' }}
        uses: ./.github/workflows/ios.yml
        permissions: write-all
        with:
            tag: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || '' }}

    mac:
        if: ${{ github.event_name == 'pull_request' || github.event.inputs.build_mac == 'true' }}
        uses: ./.github/workflows/mac.yml
        permissions: write-all
        with:
            tag: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || '' }}

    win_x64:
        if: ${{ github.event_name == 'pull_request' || github.event.inputs.build_win_x64 == 'true' }}
        uses: ./.github/workflows/win_x64.yml
        permissions: write-all
        with:
            tag: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || '' }}

    linux_x64:
        if: ${{ github.event_name == 'pull_request' || github.event.inputs.build_linux_x64 == 'true' }}
        uses: ./.github/workflows/linux_x64.yml
        permissions: write-all
        with:
            tag: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || '' }}
