name: Build for iOS

on:
  workflow_call:
    inputs:
      tag:
        description: "tag"
        required: false
        default: ""
        type: string
  workflow_dispatch:

jobs:
  build-macos-app:
    name: Release IOS
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: pubspec.yaml

      - name: 设置Rust环境
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-apple-ios,x86_64-apple-ios,aarch64-apple-darwin,x86_64-apple-darwin

      - name: Rust缓存
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('** /Cargo.lock') }}

      - name: Set and Extract version
        shell: pwsh
        run: ./build.ps1

      - name: Build iOS
        run: |
          flutter build ios --release --no-codesign --dart-define-from-file=icey_release.json
          ln -sf ./build/ios/iphoneos Payload
          zip -r9 IceyPlayer_ios_${{env.version}}.ipa Payload/runner.app

      - name: Release
        if: ${{ github.event.inputs.tag != '' }}
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag }}
          name: ${{ github.event.inputs.tag }}
          files: |
            IceyPlayer_ios_*.ipa

      - name: Upload ios release
        uses: actions/upload-artifact@v4
        with:
          name: iOS-release
          path: IceyPlayer_ios_*.ipa
